@if (this.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a asp-area="" asp-controller="Account" asp-action="Settings" class="nav-link">@this.User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a asp-area="" asp-controller="Account" asp-action="Logout" class="nav-link">Cerrar sesión</a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-area="" asp-controller="Account" asp-action="RegisterCostumer" class="nav-link">Registrarse</a>
    </li>
    <li class="nav-item">
        <a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link">Iniciar sesión</a>
    </li>
}