@{
    ViewData["Title"] = "Confirmación de correo electrónico";
}

<h2>Confirmación de correo electrónico</h2>

<div>
    <p>Gracias por confirmar tu email. Ahora puedes <a asp-controller="Account" asp-action="Login">iniciar sesión</a> en el sistema.</p>
</div>
