@{
    ViewData["Title"] = "Bloqueo de cuenta activo";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">
        La cuenta ha sido bloqueada por 45 minutos.
    </p>
</header>