@model LoginWith2faViewModel

@{
    ViewData["Title"] = "Autenticación de dos factores";
}

    <h2>Autenticación de dos factores</h2>
<hr />
<p>
    Su inicio de sesión está protegido con una aplicación de autenticación. Introduzca su código de autenticador a continuación.
</p>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="TwoFactorCode"></label>
                <input asp-for="TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberDevice">
                        <input asp-for="RememberDevice" />
                        @Html.DisplayNameFor(m => m.RememberDevice)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </div>
        </form>
    </div>
</div>

<p>

    ¿No tiene acceso a su dispositivo de autenticación? Usted puede
    <a asp-action="LoginWithRecoveryCode">ingresar con código de recuperación</a>.
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
