@model Requirements.Models.RegisterCostumerViewModel
@{
    ViewData["Title"] = "Registrarse";
}

<h2 class="text-center text-info">Registro</h2>
<div class="text-success">
    <p>
        @ViewBag.Message
    </p>
</div>
<div class="row">
    <div class="text-center col-md-12">
        <form method="post" asp-action="RegisterCostumer" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" autocomplete="off" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" autocomplete="off" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" autocomplete="off" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Confirm"></label>
                <input asp-for="Confirm" type="password" class="form-control" autocomplete="off" />
                <span asp-validation-for="Confirm" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Registrarse" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}